target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*.swp
*.log
backend_*.log
test*.log

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# macOS
.DS_Store

# Logs
logs/
*.log

# Uploads
uploads/
